html,
body {
    margin: 0px;
    height: 100%;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e113";
}

a.desc:after {
    content: "\e114";
}

.grid-view > thead > tr > th >a{
    text-decoration: none;
}
.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.own-navbar-top{
    margin-bottom: 0px;
}

.own-search-bar{
    background: rgb(34, 34, 34) none repeat scroll 0% 0%;
}

.own-left-bar{
    padding: 0px;
    background: #333333;
}

.own-menu-bar{
    background: #222;
    height: 100%;
}

pre{
    background-color: #23241F;
}

.own-panel{
    margin:auto 15px 20px;
}

.modal-content {
    border-radius: 0px;
}

.own-close-filter-label{
    cursor: pointer;
}

/*修复弹出日期表格布局问题 dataTables.bootstrap.css 54行造成*/
table.table-condensed thead > tr > th,
table.table-condensed thead > tr > td {
    padding-right: 0px;
}

table.table-condensed .active{
    display: unset;
}